body{margin:0;padding:0;font-family:'Montserrat', sans-serif;background-color:#fff;margin-top:5%}
a{text-decoration:none;font-weight:600}
h1,h2{color:#000;text-align:center;text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8)}
h1,h2,h3,h4{text-align:center}
h1{font-weight:550;font-size:55px;margin-bottom:5%;margin-top:5%;line-height:1.3}
h2{font-size:40px;font-weight:530;margin:10% 3% 2%}
h3{color:#000;font-weight:200;font-size:18px;margin:2% 3% 5%;line-height:1.5}
h4{margin:5% 3%;font-size:20px;font-weight:350}
hr{width:20%;margin-left:auto;margin-right:auto;height:6px;background:#15225e;border-radius:15px}
p{color:#000;font-size:19px;margin-left:5%;margin-right:5%;text-align:center;padding:2%;line-height:1.7;word-spacing:5px}
.strong-color{color:#15225e;text-transform: uppercase;}
.histoire{background-color:#15225e;padding:2% 0;width:100%;margin:10% auto}
.histoire h4,.histoire p{color:#fff}
#tarif{background-color:#fff;padding:2%;width:55%;margin:10% auto;border: solid #15225e 2px;border-radius: 15px;}
#tarif h2,#tarif h3,#tarif p{color:#000}
#tarif h2 {margin-top: 1%;}
#tarif h3 {margin-top: 5%;margin-bottom: 2%;}
#tarif p{text-align:left}
.valeur h3,.valeur h4{margin-bottom:0}
.valeur h3,.valeur h4,.valeur p{text-align:left;color:#15225e}
.valeur{background-color:#fff;width:90%;margin-bottom: 3%;margin-left:auto;margin-right:auto;opacity:0;transform:translateX(-50%);transition:opacity .5s,transform 1s;border: 2px solid #15225e;border-radius: 15px;}
.valeur.slide-in-done{opacity:1;transform:translateX(0)}
.valeur .confiance{display:flex;align-items:center;margin-top:5%;margin-left:2%;font-size:35px;text-align:left}
.valeur h3{display:flex;align-items:center;font-size:30px;margin-top: -2%;}
.valeur h4{font-size:20px;margin-top:3%}
.valeur p{margin-left:0;color:#000;font-size:16px;margin-top:0}
.icon,.logo,.navbar{display:flex}
.nav-menu,.navbar{background-color:#fff;left:0;right:0}
*{box-sizing:border-box;outline:0;margin:0;padding:0}
.navbar{padding:10px;justify-content:space-between;align-items:center;position:fixed;top:0;z-index:1000;height:11%}
.logo{align-items:center;max-height:150px;min-height:150px;margin-left:4%}
.icon{fill:#15225e;cursor:pointer;align-items:center;margin-right:3%}
.dropdown,.nav-menu,.navbar input{display:none}
[id^=btn]:checked+ul{display:block}
.nav-menu{position:absolute;top:99%}
.drop-item a,.nav-item a,.show{color:#000;text-decoration:none;font-size:1.2rem;line-height:3;display:block;text-align:center}
.drop-item a{margin-left:8%;font-size:1rem}
.nav-menu a:hover,.show:hover{color:#ffbd5a}
.gg{position:relative;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;height:650px}
.background-image{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:-1}
.gg h1{color:#fff;width:80%;margin-top:auto;z-index:1;font-family:'Montserrat', sans-serif}
.servi1{display:flex;align-items:center;margin-top:7%;margin-bottom:7%}
.servi1 .text{text-align:center}
.image{width:40%;margin-left:5%;height:260px}
.servi2{display:flex;align-items:center;margin-top:7%;margin-bottom:7%}
.image2{width:40%;height:260px;margin-right:5%}
.servi2 .text2{text-align:center}
.pcr{display:flex;justify-content:center;margin-top:5%;margin-bottom:7%;gap:5%}
.pcr img{width:20%;height:auto}
.text-ind img{display:flex;justify-content:center;width:15%;height:auto;margin:7% auto 5%}
.text-ind h3{font-size:22px;margin-bottom:3%}
.text-ind2 img{display:flex;justify-content:center;width:35%;height:auto;margin:5% auto 3%}
.text-ind2 p{margin-left:3%;margin-right:3%;text-align:left}
.text-ind2 h3{font-size:20px;text-align:left;font-weight:600;margin:10% 5% 3% 6%}
#contact{margin-top:10%;padding:2%;background-color:#15225e}
#contact h5{text-align:center;margin:5% 3% 3%;color:#fff;font-weight:600;font-size:20px}
#contact p{color:#fff}
.liens a{margin:0;color:#fff;font-size:16px}
.liens-wp a,.liens-wp p{color:#fff;font-size:12px}
.bbb{background-color:#15225e;color:#fff;padding:1% 5%;border-radius:25px;text-decoration:none;margin-top:auto;margin-bottom:10%}
.bb2{display:flex;justify-content:center;background-color:#15225e;color:#ffbd5a;font-size:22px;padding:1%;border-radius:25px;text-decoration:none;margin:2% 35%}
.bb3{display:flex;justify-content:center;background-color:#15225e;color:#ffbd5a;font-size:22px;padding:1%;text-decoration:none;border-radius:25px;margin:2% 40%}
.bb{display:flex;justify-content:center;background-color:#15225e;color:#ffbd5a;font-size:22px;padding:1%;text-decoration:none;border-radius:25px;margin:2% 25%}
.bb:hover,.bb3:hover{background-color:#15225e;color: #ffbd5a;}
.bbb:hover,.form-contact button:hover{background-color:#15225e;color: #ffbd5a;}
.reseau-contact{text-align:center;margin-bottom:7%}
.reseau-contact a{font-size:13px;color:#fff}
.liens-wp a,.liens-wp h6{font-size:13px;color:#fff;text-align:center;font-weight:300;margin-top:3%}
.mobr,.container,.bb,.mobserv, .contact-icon{display:none}
@media screen and (max-width:767.98px) {
h1,h2{color:#000}
h4,p{color:#000;text-align:center}
h1,h2,h3,h4,p{text-align:center}
h1{font-weight:550;font-size:30px;margin-bottom:-2%;margin-top:5%}
h2{margin-top:10%;margin-bottom:10%;font-size:35px;font-weight:530}
h3{font-weight:200;font-size:17px;margin:3% 3% 7%}
h4{margin:5% 3%;font-size:20px;font-weight:350}
hr{width:40%;margin-bottom:2%}
p{font-size:19px;margin-left:5%;margin-right:5%;padding:2%}
.histoire p,.valeur p{color:#fff;font-size:17px}
body{margin-top:17%}
.mobserv{display:flex;flex-direction:column;align-items:center}
.mobserv h3{opacity:0;transform:translateY(50px);transition:opacity .5s,transform .5s;margin-top:3%}
.mobserv h3.slide-up,.bb3.slide-up{opacity:1;transform:translateY(0)}
.text-ind2 p{margin-left:3%;margin-right:3%}
.text-ind2 h3{font-size:20px;text-align:left;margin:10% 5% 3% 6%}
.icon-item1{text-align:center;margin:5px 0;position:relative; width: 90%;margin-left: auto;margin-right: auto;padding: 3%;border: solid 1px #9e9e9e;border-radius: 15px;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);margin-bottom: 4%;}
.icon-item1 img{width:90%;height:auto;margin-bottom:3%;border-radius: 10px;}
.icon-item1 p{margin-bottom:2%;font-size:22px;margin-top: 0;;text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5)}
.icon-item1:active{background-color: #15225e;}
.icon-item1:active .strong-color, .icon-item1:active h3{color: #fff;}
.icon,.logo,.navbar{display:flex}
.nav-menu,.navbar{left:0;right:0}
.navbar{padding:10px;justify-content:space-between;align-items:center;position:fixed;top:0;z-index:1000;height:11%}
.logo{align-items:center;max-height:130px;min-height:130px;margin-left:0}
.icon{cursor:pointer;align-items:center}
.dropdown,.nav-menu,.navbar input{display:none}
[id^=btn]:checked+ul{display:block}
.nav-menu{position:absolute;top:98%}
.drop-item a,.nav-item a,.show{color:#000;text-decoration:none;font-size:1.2rem;line-height:2.5}
.drop-item a{margin-left:8%;font-size:1.1rem}
.gg{background-size:cover;background-position:center;background-repeat:no-repeat;height:350px;position:relative;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center}
#val,#prestation,#mobr,.histoire{margin-top:15%}
#prestation{margin-top:17%}
#tarif{margin-top:15%;margin-bottom:15%;width: 93%;}
#val{margin-bottom:13%}
.valeur .confiance,.valeur h3{display:flex;text-align:left;margin-top:5%}
.valeur{padding-left:3%;padding-right:3%;margin-bottom:10%;margin-left:auto;margin-right:auto;opacity:0;transform:translateX(-50%);transition:opacity .5s,transform 1s;width: 93%;}
.valeur .confiance{align-items:center;margin-left:5%;font-size:40px}
.valeur h3{align-items:center;color:#15225e;font-size:20px;margin-bottom:2%;margin-left:1%;margin-top: 2%;}
.valeur h4,.valeur p{color:#15225e;text-align:left;margin-top:3%}
.valeur h4{font-size:15px;margin-bottom:0}
.valeur p{margin-left:0;font-size:14px;padding-bottom:5%;font-weight:100}
.text-ind h2,.text-ind2 h2{font-size:25px;margin:15% 2% 4%}
.text-ind img{display:flex;width:30%;margin-left:auto;margin-right:auto;margin-top:15%}
.text-ind2 img{display:flex;width:90%;margin:8% auto 4%}
.text-ind2 p{margin-left:3%;margin-right:3%}
.text-ind2 h3{font-size:20px;text-align:left;margin:10% 5% 3% 6%}
.text-ind h3{margin-top:5%;margin-bottom:7%}
.text-ind p,.text-ind2 p{text-align:left}
.bbb{padding:2% 8%;border-radius:25px;text-decoration:none;margin-top:auto;margin-bottom:10%;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)}
.bb2{font-size:18px;padding:3%;margin:5% 20% 7%}
.bb3{display:flex;justify-content:center;font-size:18px;padding:2%;text-decoration:none;margin:5% 15% 10%;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5)}
.bb{display:flex;justify-content:center;font-size:18px;padding:2%;text-decoration:none;margin:10% 20% 13%;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5)}
.mobr{display:flex;justify-content:center;margin-bottom:10%}
.mobr img{width:80%;height:auto;margin:0 2%}
#contact{padding-top:4%;padding-bottom:4%;margin-top:20%}
#contact h5{margin-top:10%;margin-bottom:5%;color:#fff;font-weight:600}
#contact p{text-align:center;margin:0 0 3%;color:#fff;font-size:15px}
.liens-wp a,.liens-wp h6{font-size:13px;color:#fff;text-align:center;font-weight:300;margin-top:5%}
.liens-wp{margin-bottom:-3%}
.contact-icon{display:flex;position:fixed;right:4%;bottom:3%;z-index: 5;}
.contact-icon img{display:block;width:60px;height:60px;border-radius:20px}
.reseau-contact{text-align:center;margin-bottom:13%}
.reseau-contact a{font-size:13px;color:#fff}
.pcr,.servi1,.servi2{display:none}
}